@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.App {
  margin: 2rem 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
}

.mobile-view {
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero__content-header {
  margin-top: 6rem;
  padding: 0;
  font-size: 4rem;
  font-weight: bold;
  color: #ffce6d;
  font-family: "Anton", sans-serif;
}

.hero__content-CTA span {
  padding: 0.2rem;
  background-color: white;
  margin-right: 0.5rem;
  border-radius: 4px;
  font-size: 1.2rem;
  color: #120200;
  cursor: pointer;
}

.hero__content-CTA {
  display: flex;
  align-items: center;
}

.github-logo {
  color: white;
  font-size: 2rem;
}

.npm-logo {
  color: white;
  font-size: 4rem;
}

.guidelines {
  font-size: 1.2rem;
  text-align: left;
}

.guidelines a {
  color: #ffce6d;
}

.footer {
  text-align: center;
  margin-top: 4rem;
}

@media only screen and (max-width: 900px) {
  .mockmanjs {
    display: none;
  }

  .hero__content-header {
    margin-top: 0rem;
  }

  .mobile-view {
    display: block;
  }
}
